:root {
    --primary-color: #004aad; /* Azul Vibrante */
    --secondary-color: #ffde59; /* Amarelo Solar */
    --text-color: #333;
    --bg-color:#1E90FF;
}

body.dark-theme {
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --primary-color: #3d85c6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var/(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

header {
    background: var(--primary-color);
    color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo { font-size: 1.8rem; font-weight: bold; }

nav ul { display: flex; list-style: none; }
nav ul li { margin-left: 20px; }
nav ul li a { color: white; text-decoration: none; font-weight: 500; }

.hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1523050335392-9ae86774929f?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.btn-principal {
    background: var(--secondary-color);
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 5%;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 250px;
    text-align: center;
    border-top: 5px solid var(--secondary-color);
    color: #333;
}

.contato {
    padding: 50px 5%;
    background: var(--primary-color);
    color: white;
    text-align: center;
}

#form-contato {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-contato input, #form-contato textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
